body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    text-align: center;
}

.container {
    margin-top: 60px;
    padding: 20px;
    background: #fdf6e3;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}
